// Material date picker styling
::ng-deep {
  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-text-field-wrapper {
    background-color: white;
  }

  .dark .mat-mdc-text-field-wrapper {
    background-color: rgb(31, 41, 55); // gray-800
  }

  .mat-mdc-form-field-input-control input {
    color: rgb(31, 41, 55); // gray-800
  }

  .dark .mat-mdc-form-field-input-control input {
    color: white;
  }

  .mat-mdc-form-field-label {
    color: rgb(107, 114, 128); // gray-500
  }

  .dark .mat-mdc-form-field-label {
    color: rgb(209, 213, 219); // gray-300
  }

  .mat-mdc-form-field-outline {
    color: rgb(209, 213, 219); // gray-300
  }

  .dark .mat-mdc-form-field-outline {
    color: rgb(75, 85, 99); // gray-600
  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent;
  }

  .mat-mdc-button.mat-mdc-icon-button {
    color: rgb(107, 114, 128); // gray-500
  }

  .dark .mat-mdc-button.mat-mdc-icon-button {
    color: rgb(209, 213, 219); // gray-300
  }
}

